@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.header_hero {
  height: 26rem;
  margin-left: 1.5rem;
  color: white;
  padding-top: 3rem;
  z-index: 1;
  margin-bottom: 2rem;
}

.header_hero > h1 {
  font-size: 5rem;
}
.header_hero > p {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  width: 50vw;
}
.header_hero > h6 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  width: 50vw;
}
.home_body {
  background-color: white;
}
ul {
  margin: 2rem 0;
}

.content_card > a {
  display: flex;
  margin: 2rem !important;
  height: 22rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-decoration: none;
  color: black;
}
.card_image {
  width: 40rem;
  height: 100%;
}

.desc {
  padding: 1rem;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 90%;
}
.desc:hover {
  opacity: 0.7;
}
.blog_title {
  font-size: 3rem;
  text-decoration: none;
  color: black;
}

.publish_date {
  color: rgb(179, 179, 179);
  font-size: 0.7rem;
}
.explore_button {
  width: 8rem;
  height: 3rem;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ffd369;
  color: #ffd369;
  border-radius: 0.2rem;
}
.explore_button:hover {
  background-color: #ffd369;
  color: white;
}
.home_body > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

@media (max-width: 979px) {
  .card_image {
    width: 30rem;
    height: 100%;
  }
}

@media (max-width: 775px) {
  .header_hero > p {
    /* border: 1px solid; */
    padding-top: 3rem;
    font-size: 1rem;
    width: 90vw;
  }
  .content_card > a {
    flex-direction: column;
    justify-content: space-between;
    height: 40rem;
  }
  .card_image {
    width: 100%;
    height: 25rem;
  }
  .desc {
    height: 10rem;
  }
}
@media (max-width: 650px) {
  .header_hero > h1 {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .header_hero > h1 {
    font-size: 3rem;
  }
}
