@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
.header_div {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
}
.header_div > span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40vw;
}
.title {
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.title > span {
  color: #ffd369;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 0.85rem;
  font-weight: lighter;
  text-shadow: 1px 1px 1px rgb(167, 167, 167);
  padding: 1rem;
}
.menu_icon {
  color: white;
}
.navbar {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
}
.navCollapse {
  /* margin-top: 20rem;
  background-color: #fda359; */
  padding-top: 1rem;
}
.nav {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
}

@media (max-width: 700px) {
  .header_div > span {
    align-items: flex-end;
    justify-content: flex-end;
  }
}
@media (max-width: 600px) {
  .header_div > span {
    display: flex;
    align-items: flex-end;
    /* justify-content: space-evenly; */
    flex-direction: column;
    width: 40vw;
    height: 10rem;
    margin-top: 5rem;
    /* border: 1px solid; */
  }
}
